/* ---Page CSS--- */

/* Header CSS */
#mainHeader {
	background: url(../img/iconcloud.png) no-repeat 10px 0px; 
	border: none;
	height: 70px;
	-moz-box-shadow: 0px 4px 5px rgba(0,0,0,.20);
	-webkit-box-shadow: 0px 4px 5px rgba(0,0,0,.20);
	box-shadow: 0px 4px 5px rgba(0,0,0,.20);
}