<!-- extend base layout -->
{% extends "base.html" %}

{% block head %}
<script src="http://www.parsecdn.com/js/parse-1.2.3.min.js"></script>
{% endblock %}

{% block script %}
<script type=text/javascript>
	Parse.initialize("7h8TXODIXq3dxx0yRk5TY1CRALyDcwjwdHYzLi7Q", "Om0y3GMOQKIIRry78CHJxnJslD5OLQa9IOu7mdFb");
	
	var notifications = Parse.Object.extend("notifications");
	var query = new Parse.Query(notifications);
	var notificationCount = 0;
	
	function getNotifications(queryObj){
		queryObj.find({
			success: function(results) {
				for (var i = 0; i < results.length; i++){
					//there has to be a more better loop. needs to be more dynamic with the data.
					var name = results[i].get("submittedBy");
					var profileThumbnail = "../static/img/flowbit-icon.jpg";
					//the if statements will onlt get larger as we get more types
		   			//there has to be a better way to generate these notifs and messages
					if (results[i].get("type") == "master"){
						var postMessage = name + " has switched the " + Object.keys(results[i].get("action"))[0] + " controls " + results[i].get("action")["master"] + ".";
						$("#notifications").append('<li><a href="#"><img src="' + profileThumbnail +'"><h2>' + name + '</h2><p>' + postMessage + '</p></a><a href="#" data-rel="popup" data-position-to="window" data-transition="pop">Go to dashboard</a></li>');
		  			} else if (results[i].get("type") == "controls"){
		    			var postMessage = name + " has switched the " + Object.keys(results[i].get("action"))[0] + " " + results[i].get("action")["pump"] + " and the " + Object.keys(results[i].get("action"))[1] + " " + results[i].get("action")["light"] + ".";
		    			$("#notifications").append('<li><a href="#"><img src="' + profileThumbnail +'"><h2>' + name + '</h2><p>' + postMessage + '</p></a><a href="#" data-rel="popup" data-position-to="window" data-transition="pop">Go to dashboard</a></li>');
			   		} else if  (results[i].get("type") == "comments"){
						var postMessage = name + " has left a comment on a system.";
		    			$("#notifications").append('<li><a href="#"><img src="' + profileThumbnail +'"><h2>' + name + '</h2><p>' + postMessage + '</p></a><a href="#" data-rel="popup" data-position-to="window" data-transition="pop">Go to dashboard</a></li>');
		    		}
		    		notificationCount++;
		    	};
		    	$("#notifications").listview("refresh");
		  	},
		  	error: function(error) {
		   		alert("Error: " + error.code + " " + error.message);
		  	}
		});
	}
	
	$(function(){
		query.limit(5); //5 notifications loaded at a time
		query.descending("unixtime");
		getNotifications(query);
	});

	$(function(){
		$("#loadMoreBtn").click(function(e){
			query.skip(notificationCount);
			query.limit(5); //5 notifications loaded at a time
			query.descending("unixtime");
			getNotifications(query);
		});
	});
</script>
{% endblock %}

{% block body %}
	<div data-role="content">
		<ul id="notifications" data-role="listview" data-split-icon="gear" data-split-theme="d" data-inset="true">
		</ul>
		<a href="#" id="loadMoreBtn" data-role="button">Load more</a>
		<!-- <h1>Welcome to Flowbit Control Center</h1>
		<p>Hit the top right button on the header to access menu panel.</p>
		<br>
		<h2>Notifications: </h2>
		<p><i>You have no new notifications.</i></p>  -->
		<!--implement notifications system in future here using js to fill div or via iframe-->
	</div>
{% endblock %}
