<!-- extend base layout -->
{% extends "base.html" %}

{% block body %}
	<div data-role="content">
		<!--Login-->
		<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
			<li data-role="list-divider" data-theme="b">Login to Flowbit</li>
			<li>
				<div class="containing-element">
					<form action="/login" method="POST" name="login" data-ajax="false">
						{{form.hidden_tag()}}
						<p>
							{{form.username(size=50)}}
							{{form.password}}
							{% for error in form.errors.username %}
							<span style="color: red;">[{{error}}]</span>
							{% endfor %}
						</p>
						<p>Stay Signed In:    {{form.remember_me}}</p>
						<p><input type="submit" value="Sign In"></p>
					</form>
				</div>
			</li>
		</ul>
		<!--Login-->
	</div>
{% endblock %}